@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(2, 6, 23, 1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  padding: 15px;
}

.fileDropSearch {
  background: rgba(9, 15, 32, 1);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border: 2px dashed #076079;
  border-radius: 10px;
  
}

.fileDropSearch:hover {
  background: rgba(15, 21, 38, 1);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 2px dashed #00ffff;
  border-radius: 10px;
  cursor: pointer;
}

.circleItem {
  background: rgba(15, 23, 42, 1);
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
}

.pasta-fechada {
  color: #00ffff;
  font-size: 50px;
}

.textUnderCircle {
  color: white;
  margin: 0 !important;
}